openstack_user_name             = "openstack-user"
openstack_tenant_name           = "openstack-project"
openstack_auth_url              = "https://openstack.di.ual.es:5000/v3"
openstack_external_network_name = "your-external-net"
openstack_domain_name           = "default"
openstack_region                = "RegionOne"
openstack_keypair               = "your-keypair"
instance_quantity               = 1
openstack_instance_name         = "ELK"
openstack_image_name            = "jammy"
openstack_availability_zone     = "nova"
openstack_flavor_name           = "medium"
openstack_security_group        = "default"
openstack_network               = "project-nerwork"
